
button{
    height: 25px;
    width: 40px;
}
#main{
    height: 200px;
    width: 200px;
    border: solid 2px burlywood;
    align-content: center;
    align-self:auto;
    padding-left: 20px;
    /* padding: ; */
    padding-top: 40px;
}